@font-face {
    font-family: Arial-Bold;
    src: url(../../../../assets/fonts/FontsFree-Net-arial-bold.ttf);
  }

.product-info-container {
    border-radius: 10px;
    width: 200px;
    height: 380px;
    margin: 20px;
    padding: 0;
    cursor: pointer;
        box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
}

.carousel-size {
    width: 250px;
    height: 450px;
}

.product-info-container:hover {
    box-shadow: 0 0px 6px 0 rgb(0, 0, 0, 0.40);
}

.shadow {
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
}

.carousel-img {
    width: 250px;
    height: 333px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.product {
    position: relative;
}

.discount-p {
    top: 23px;
    right: 0;
    z-index: 6;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.discount-photo {
    transform: rotate(45deg);
    position: absolute;
    width: 60px;
    height: 60px;
    top: 10px;
    right: -10px;
    z-index: 1;
}

.product-img {
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
    height: 266px;
}

.bold-arial {
    font-family: Arial-Bold;
}

.w-250 {
    width: 250px !important;
}

.velicine {
    position: absolute;
    margin-top: -48px;
    width: 200px;
    max-height: 50px;
    overflow: hidden;
    background-color: #e3dad5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-details {
    overflow: hidden;
    height: 115px;
}

@media screen and (max-width: 700px) {
    .product-info-container {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 412px) {
    .product-info-container {
        width: 150px;
        height: 320px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        /*margin: 20px;*/
    }

    .product-img {
        width: 150px;
        height: 200px;
    }
}