@font-face {
    font-family: Arial-Bold;
    src: url(../../../../assets/fonts/FontsFree-Net-arial-bold.ttf);
  }

.product-info-container {
    border-radius: 10px;
    width: 200px;
    height: 380px;
    margin: 20px;
    padding: 0;
    cursor: pointer;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
}

.product-info-container:hover {
    box-shadow: 0 0px 6px 0 rgb(0, 0, 0, 0.40);
}

.shadow {
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.16);
}

.product-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
    height: 266px;
}

.bold-arial {
    font-family: Arial-Bold;
}

.velicine {
    position: absolute;
    margin-top: -48px;
    width: 200px;
    max-height: 50px;
    overflow: hidden;
    background-color: #e3dad5;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

@media screen and (max-width: 700px) {
    .product-info-container {
        margin-left: auto;
        margin-right: auto;
    }
}