@font-face {
    font-family: Raleway-Medium;
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: Arial-Bold;
    src: url(../fonts/FontsFree-Net-arial-bold.ttf);
  }

@font-face {
    font-family: Gillsan-Bold;
    src: url(../fonts/gillsan.ttf);
  }

@font-face {
  font-family: Flemish;
  src: url(../fonts/At\ Flemish\ Script\ II\ Regular.ttf);
}

@font-face {
  font-family: NewYork;
  src: url(../fonts/NewYork.otf);
}

@font-face {
    font-family: Magazine;
    src: url(../fonts/Magazine.ttf);
}

.header-desktop {
    display: block;
}

.header-mobile {
    position: fixed;
    z-index: 2;
    top:0;
    display: none;
    height: 65px;
    width: 100%;
    background-color:#e3dad5;
}

.header-container {
    height: 70px;
    width: 100%;
    background-color:#e3dad5;
}

.header-container-lower {
    height: 10px;
    width: 100%;
    background-color:#e3dad5;
}

.mobile-sub-menu {
    position: fixed;
    top:0;
    height: 100%;
    width: 0;
    overflow: hidden;
    transition: width ease 0.3s;
    background-color: white;
}

.sub-menu-item {
    color: black;
}

.sub-menu-item:hover {
    color: #c4bebb;
}

.mobile-sub-menu.show {
    width: 100%;
}

.sub-header-title {
    font-family: Raleway-Medium;
    background-color: transparent;
}

.sub-item {
    margin-top: 25px;
    padding-bottom: 7px;
}

.border-right-black {
    border-right: 1px solid black;
}

.border-right-nav {
    border-right: 1px solid #c4bebb;
}

.border-bottom-nav {
    border-bottom: 1px solid #c4bebb;
}

.sub-header {
    box-shadow: 0px 0px 20px 0px grey;
    margin-top: 20px;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 11;
    background-color: white;
}

.type-column {
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.type-column-border-left {
    border-left: 2px solid #e3dad5;
}

.type-column-border-right {
    border-right: 2px solid #e3dad5;
}

.header-on-mouse-hover {
    border-top: 2px solid #e3dad5;
    border-bottom: 2px solid #e3dad5;
    height: auto;
    width: 100%;
    background-color: #e3dad5;
}

.header-items-left {
    padding-top: 0px;
}

.header-items-middle {
    height: 100%;
    text-align: center;
}

.header-items-right {
    /*float:right;*/
    padding-top: 10px;
}

.logo-item {
    display: inline-block;
    padding-right: 50px;
    font-size: 50px;
    font-family: Flemish;
    cursor: pointer;
}

.header-item {
    font-family: Raleway-Medium;
    height: 70px !important;
    display: inline-block;
    padding: 20px 20px 0 20px;
    font-size: 20px;
    cursor: pointer;
}

.header-item:hover {
    color: #7a7674;
}

.type-items {
    list-style: none;
    padding:0;
}

.type-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0 20px 0 20px;
    font-size: 25px;
    cursor: pointer;
}

.bold-arial {
    font-family: Arial-Bold;
}

.footer-container {
    background-color: #e3dad5;
}

.footer-item {
    font-family: Raleway-Medium;
    cursor: pointer;
}

.footer-lower {
    height: 40px;
    vertical-align: center;
    background-color: #c4bebb;
}

.border-black {
    height: 30px !important;
    width: 1px;
    background-color: black;
}

.filter-boje {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height ease 0.3s;
    overflow-x: hidden;
    overflow-y: scroll;
}

.filter-boje::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.filter-boje::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.filter-boje::-webkit-scrollbar-thumb {
    background: #e3dad5;
}

/* Handle on hover */
.filter-boje::-webkit-scrollbar-thumb:hover {
    background: #c4bebb;
}



.filter-boje-title {
    cursor: pointer;
}

.w-30 {
    font-family: Arial;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.color-first {
    color: #5c5855;
    font-weight: bold;
}

.color-secondary {
    color: #857e7a;
}

.ff-releway {
    font-family: Raleway-Medium;
}

.ff-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.ff-flemish {
    font-family: Flemish;
}

.px40 {
    width: 40px;
    height: 40px;
}

.about-us-logo {
    font-family: Flemish;
    font-size: 1000%;
}

.menu-icon {
    width: 30px;
    height: 30px;
}

.contact-info {
    width: auto;
    height: auto;
    padding: 30px;
    background-color: #e3dad5;
}

.inline {
    display: inline-block;
}

.border-bottom-black {
    border-bottom: 1px solid #c4bebb;
}

.top-line {
    width: 100%;
    height: 1px;
    background-color: black;
}

Link {
    text-decoration: none;
    text-underline: none;

}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: grid;
    place-items: center;
}

.loader {
    border: 16px solid #e3e3e3;
    border-top: 16px solid #a37155;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

ul li .woman {
    visibility: hidden;
    opacity: 0;
}

ul li:hover .woman {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

ul li .man {
    visibility: hidden;
    opacity: 0;
}

ul li:hover .man {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

@media screen and (max-width: 700px){
    .header-items-middle {
        text-align: center;
        padding-top: 0px;
    }

    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    .logo-item {
        display: inline-block;
        padding-right: 0px;
        padding-top: 5px;
        font-size: 40px;
        font-family: Flemish;
        cursor: pointer;
    }
}